@model EditClientViewModel

<h3>Editar Cliente</h3>

<div class="row">
    <form id="form-product" method="POST" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            @if (!string.IsNullOrEmpty(@Model.Logo))
            {
                <input type="hidden" name="logo" value="@Model.Logo" />
                <td><img src="data:image/png;base64,@Model.Logo" alt="Logo do Cliente" width="200" /></td>
            }
        </div>
        <div class="form-group">
            <label asp-for="LogoFile" class="control-label"></label>
            <input asp-for="LogoFile" class="form-control" />
            <span asp-validation-for="LogoFile" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input id="submit-product" type="submit" value="Salvar" class="btn btn-primary" />
            <a class="btn btn-info" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="row">
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    </div>
}


